<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Password App</h1>
    </div>
    <% if current_user %>
        <p class="text-center"><%= link_to "Change Your Password", edit_user_registration_path, class: "btn btn-warning btn-lg" %></p>
    <% end %>

</div>