<div class="container">
    <div class="center jumbotron">
        <h1 align="center">Password App</h1>
    </div>
    <div align="center">
        <div class="home-buttons">
            <p><%= link_to "Create Account", new_user_registration_path, class: "btn btn-success btn-lg" %></p>
        </div>
    </div>
</div>