<% if @password.errors.any? %>
  <div class="warning">
    <h3>The Following Errors Prevented the password detail from being saved:</h3>
    <ul>
        <% @password.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>