<div class='search-area mt-4'></div>
  <%= form_tag search_password_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :name, params[:name], placeholder: "Search for name", autofocus: true, class: "form-control bg-green form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-primary btn-sm m-top" do %>
          Search
        <% end %>
      </div>
    </div>
  <% end %>
</div>
