<div class="results-block">
  <%= render 'layouts/flash' %>
</div>
<% if @passwords %>
  <!-- <div class="card card-header results-block"> -->
  <table class="col-md-10 clean-border">
    <tbody>
      
        <% @passwords.each do |password| %>
        
          <tr class=" results-block mb-1 search-description">
            <td class="name-text white ml-5"><strong>Name: </strong> <%= password.name %>
             <strong class="ml-5 white"> Password: </strong>
                                          <%= link_to "View #{password.name}'s Password", password_path(password), 
                                          class: "btn btn-outline-primary white btn-sm ml-2" %></td>
          </tr>
          <!--<tr class="results-block search-description">
           
          </td> -->
          </tr>
        
        <% end %>
      
    </tbody>
  </table>
<% end %> 
