<div class="results-block">
  <%= render 'layouts/flash' %>
</div>
<% if @passwords %>
  <!-- <div class="card card-header results-block"> -->
  <table class="col-md-10 clean-border">
    <tbody>
      
        <% @passwords.each do |password| %>
        
          <tr class=" results-block mb-1 search-description">
            <td class="name-text white"><strong>Name: </strong> <%= password.name %></td>
             <td class="mt-1"><strong class="ml-5" style="color: white;"> Password: </strong><strong class="password-blue"> <%= password.password %></strong></td>
            <td class="mt-1"><%= link_to "View #{password.name}'s Details", password_path(password),class: "btn btn-outline-primary white btn-sm ml-2" %>
          </tr>
          <!--<tr class="results-block search-description">
           
          </td> -->
          </tr>
        
        <% end %>
      
    </tbody>
  </table>
<% end %> 
