<div class="center well">
    <h2 class="text-center white">Create New Password Profile</h2>
</div>

<div class="container">
    <%= render 'passwords/errors' %>
    <%= render 'passwords/form' %>
</div>