@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 70px; // ensures objects sit below the navbar
  }

  .italics { // password color and style in index
      color: blue;
      font-style: italic;
  }

  .bold { //user-name and Name in Index
      font-weight: bold;
      font-size: 1.1em;
  }

  .green {
      color: #006400;
  }

  /* The Wells */


    .well.profile-black-white {

        background-color: #ffffff;
        
        border: 9px solid black;
        
        border-radius: 25px;
        
        }
        
        
        .well.profile-black-white-thin {
        
        background-color: #ffffff;
        
        border-radius: 25px;
        
        }
        
        
        .well.profile-black-white-thin-b {
        
        background-color: #e6ffff ;
        
        border: 1px solid black;
        
        border-radius: 25px;
        
        }

        // spacer
        .spacer {
            visibility: hidden;
        }

        //Flash Warnings
        .warning {
            background-color:#f8d7da;
            color:#721c24;
            border-radius: 5px;
            padding: 5px;
            h3 {
                margin-left: 20px;
            }
        }
        