@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 70px; // ensures objects sit below the navbar
  }

  .italics { // password color and style in index
      color: blue;
      font-style: italic;
      font-size: 18px;
      font-weight: bold
  }

  .bold { //user-name and Name in Index
      font-weight: bold;
      font-size: 18px;
  }
  .italic {
      font-style: italic;
      
  }

  .green {
      color: #006400;
      font-size: 18px;
      font-weight: bold
  }
  .white {
      color: #fff !important;
  }

  /* The Wells */


    .well.profile-black-white {

        background-color: #ffffff;
        
        border: 9px solid black;
        
        border-radius: 25px;
        
        }
        
        
        .well.profile-black-white-thin {
        
        background-color: #ffffff;
        
        border-radius: 25px;
        
        }
        
        
        .well.profile-black-white-thin-b {
        
        background-color: #e6ffff ;
        
        border: 1px solid black;
        
        border-radius: 25px;
        
        }

        // spacer
        .spacer {
            visibility: hidden;
        }

        //Flash Warnings
        .warning {
            background-color: #d9edf7;
            border-color: #bce8f1;
            color:#31708f;;
            border-radius: 5px;
            padding: 5px;
            h3 {
                margin-left: 20px;
            }
        }
        //Devise Flash Warning
        .alert, .alert-alert {
            background-color:#fff3cd;
            color:#856404;
            border-radius: 5px;
            padding: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }

        //NAV Bar
            //Buttons

        .btn-purple {
            background: #8B008B;
            color: #fff;
        }
    
        
        
        .nav-but {
            border: 2px solid #fff;
            color: #fff !important;
            font-size: 1.1em;
            margin: 3px;
        }
        