@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 70px; // ensures objects sit below the navbar
    background: #000;
  }

  .italics { // password color and style in index
      color: blue;
      font-style: italic;
      font-size: 18px;
      font-weight: bold
  }

  .bold { //user-name and Name in Index
      font-weight: bold;
      font-size: 18px;
  }
  .bold-white {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }
  .italic {
      font-style: italic;
      
  }

  .green {
      color: #ccffcc;
      font-size: 18px;
      font-weight: bold
  }
  .white {
      color: #fff !important;
  }

  .light-blue {
      color: #99ccff;
      font-size: 18px;
      font-weight: bold
  }

  .bg-black {
    background: #000;
    border: 1px solid #fff;
  }

  /* The Wells */

    .well {
      background: #000;
      border: 2px solid #fff;
      border-radius: 10px;
    }

    // Forms

    .form-control::placeholder {
      color: #fff;
    }
    .form-control {
      color: #fff;
    }

    .form-control::autocomplete {
      
    }

        // spacer
        .spacer {
            visibility: hidden;
        }

        //Flash Warnings
        .warning {
            background-color: #d9edf7;
            border-color: #bce8f1;
            color:#31708f;;
            border-radius: 5px;
            padding: 5px;
            h3 {
                margin-left: 20px;
            }
        }
        //Devise Flash Warning
        .alert, .alert-alert {
            background-color:#fff3cd;
            color:#856404;
            border-radius: 5px;
            padding: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }

        //NAV Bar
        //links
            .nav, li, a {
                color: #fff !important;
            }
            //Buttons

        .btn-purple {
            background: #8B008B;
            color: #fff;
        }
    
        
        .navbar {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
        .nav-but {
            border: 2px solid #fff;
            color: #fff !important;
            font-size: 1.1em;
            margin: 3px;
        }
        
        // Home Page Jumbotron
        .jumbotron {
            background: #000;
            border: 4px solid #fff;
            color: #fff;
        }

        // Search Form
        .m-top {
            margin-top: 2px;
        }

        .search-description {
            width: 100%;
            overflow: scroll;
          }
        
          .results-block {
            display: inline-block;
            margin-bottom: 1.5rem;
            border: 2px solid #fff !important;
            border-radius: 5px !important;
            margin-bottom: 6px;
            padding: 3px;
          }

          .mt-1 {
            margin-top: 1px;
          }

          .mt-2 {
            margin-top: 2px;
          }

          .ml-5 {
            margin-left: 5px;
          }

          .password-blue {
            color: #00ffff;
          }

